body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Nanum Pen Script';
    background-color: #48233C;
    color: white;
}

.header {
  font-family: 'Amatic SC';
  font-size: 120px;
  margin: 2% 0;

}

.rules {
  font-size: 48px;
  font-weight: 400;
  margin: 64px auto 2%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  margin: 12px;
}

.statusBox {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 900px;
  margin: 2% auto 10%;
}

.roundResults {
  font-size: 42px;
  margin-bottom: 5%;
}

.players, .tally {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

p {
  flex: 1 auto;
  margin: auto;
  width: inherit;
}

.resultGame {
  margin: 5% auto;
  font-size: 32px;
  width: 75%;
}




.resetButton {
  font-family: 'Amatic SC';
  letter-spacing: 2px;
  font-size: 24px;
  padding: 12px;
  border-radius: 12px;
  background-color: #D7F0F3;
}

footer {
  margin-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link {
  color: #74CBD4;
}

a:hover {
  color: #FFCF00;
}